#startscreentext {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.5s ease-out forwards, glow 3s ease-in-out infinite alternate;
}


@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes glow {
    from {
        text-shadow: 0 0 5px #ffffff55;
    }
    to {
        text-shadow: 0 0 20px #ffffffaa;
    }
}
